html {
  font-size: 62.5%; // 16px * .625 = 10 (base 10)
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
